{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">

            <h1>Seguimos aprendiendo Node</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                 Praesentium mollitia sunt animi laboriosam. Incidunt, nemo a.
                  Perferendis, atque. Ullam officia eaque amet itaque accusantium esse
                   modi dolore aut dicta voluptas?</p>

    </div>

    <div cloass="col-4">

        <img src="/assets/img/descarga.jpg" class="img-thumbnail" alt="Gracioso"/>
    </div>

</div>




{{> footer }}